.package{
    display: flex;
}
.packagebox{
    position: absolute;
    right: 5%;
    width: 40%;
    margin-left: 50px;
    display: inline-block;
    border :0.5px solid rgba(0, 0, 0, 0.218) 

}
.links{
    background-color:#fafafa ;
    
    display: flex;
   padding: 8px 0px;
    justify-content: center;
}
.charge{
    display: flex;
    padding: 5px;
}
.charge h5{
    flex: 70%;
    margin:5px ;
}
h5+p{
    flex: 30%;
    color: #70da46;
    text-align: end;
    margin: 5px;
    
}
.chk{
    margin-top: 20px;
    margin-left: 10px;
}

h4{
    margin: 14px 0px;
}
.iii{
    float: left;
    color: #70da46 !important;
}
button{
    width: 95%;
    background-color: #70da46;
    color: white;
border: none;
padding: 8px 0px;
border-radius: 2px;
margin: 8px;
}
h3{
    text-align: center;
    color: #70da46;

}

.aaa:hover,.aa{
    background-color: white;
    color: #70da46;
    border-bottom: 4px solid #70da46;
}