.table{
    flex: 50%;
    width: 40%;
    margin: 0px 60px;
    align-self: center;
    max-height: 350px;
  
}
 td p,i,td{
    text-align: center !important;
}
i{
   text-align: center;
}
.tff{
    text-align: center !important;
}
.btn{
    width: 60%;
}
.odd{
    background-color: #fafafa;
}